In [4]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [5]:
import pandas as pd
# Load the data
data = pd.read_csv('umsatz.csv')
data

  Kundengruppe  Artikelgruppe Region   Umsatz
0  Fachhandel     Tourenräder   West  niedrig
1   Discounter      Cityräder   West    hoch
2  Fachhandel   Mountainbikes   Nord   mittel
3  Fachhandel     Tourenräder   Nord  niedrig
4  Fachhandel     Tourenräder    Süd    hoch
5     Kaufhaus  Mountainbikes   Nord  mittel
6   Discounter  Mountainbikes   West  mittel
7   Discounter      Cityräder   West    hoch

In [6]:
import math


# Function to calculate entropy for a given column
def entropy(column):
    counts = column.value_counts()
    probabilities = counts / counts.sum()
    return sum([-p * math.log2(p) for p in probabilities])

# Calculate total entropy
total_entropy = entropy(data['Umsatz'])

# Calculate information gain for each column
for column in ['Kundengruppe', 'Artikelgruppe', 'Region']:
    groups = data.groupby(column)
    weighted_entropies = groups.apply(lambda x: entropy(x['Umsatz']) * len(x) / len(data))
    information_gain = total_entropy - weighted_entropies.sum()
    print(f"Information gain for {column}: {information_gain:.3f}")

Information gain for Kundengruppe: 0.811
Information gain for Artikelgruppe: 1.217
Information gain for Region: 0.561